
    <!-- ========== Footer Widgets ========== -->
    <div id="trigger3"></div>
    <footer class="footer-widgets">
    <div class="container">
      <div class="row section">

        <!-- About Us -->
        <div class="col-md-4">
          <div class="widget about-widget">
            <h5 class="header-widget">Register</h5>
            <a href="#joinus" class="btn btn-white-outline gray">Join Us Now</a>
          </div><!-- / .widget -->
        </div><!-- / .col-md-3 -->

        <!-- Newsletter -->
        <div class="col-md-4">
          <div class="widget newsletter-widget">
            <h5 class="header-widget">Keep me updated</h5>

            <form action="post" id="newsletter_form_2">
              <div class="form-group">
                <input type="email" name="newsletter[email]" placeholder="JOIN OUR NEWSLETTER">
                <button type="button" id="button-submit-2"><i class="fa fa-send-o"></i></button>
              </div>
            </form>
			<p id="ty-2"  style="display: none">WE&apos;LL KEEP YOU UPDATED</p>
          </div><!-- / .widget -->
        </div><!-- / .col-md-4 -->


        <!-- About Us -->
        <div class="col-md-4">
          <div class="widget about-widget">
            <h5 class="header-widget">Contact</h5>
				<p>51B/52B
                <br/>CIRCULAR ROAD
                <br/>SINGAPORE
                <br/>049406</p>
          </div><!-- / .widget -->
        </div><!-- / .col-md-3 -->
        <h4><a href="http://sendyojee.com/terms">Terms of Use</a></h4>
		<h4><a href="http://sendyojee.com/privacy">Privacy and Data Protection Policy</a></h4>
        <h4>&copy; 2016 Yojee Pte. Ltd. All rights reserved</h4>
      </div><!-- / .row -->
    </div><!-- / .container -->
    <div class="seaport">
      <img  id="ship" class="ship" src="assets/images/backgrounds/port/ship_optimized.png" />
    </div>
    </footer><!-- / .footer-widgets -->
