              <!-- Recent Posts - Widget -->
              <div class="col-md-12 ws-s recent-posts-widget">
                <h5 class="header-widget">Recent Posts</h5>

				{% for post in site.posts %}
					<div class="widget-item rpitem">
						<a href="{{ post.url }}"><h6 class="h-alt rptitle">{{ post.title }}</h6></a>
						<span class='rpauthor'>
						{% if post.author %}
							by {{ post.author }} / 
						{% endif %}
						{% if post.date %}
							{{ post.date | date_to_string }}</span>
						{% endif %}						
					</div>
				{% endfor %}

              </div><!-- / .recent-posts-widget -->
