---
layout: default
title: Yojee - Blog
---
	  
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
	{% include blogbox.html %}
{% endfor %}

<!-- Pagination links -->

   <!-- Pagination -->
			{% if paginator.total_pages > 1 %}
              <nav class="blog-pagination mb-sm-100">
                <ul class="pagination">
					<li>
						{% if paginator.previous_page %}
							<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
								<span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
							</a>
						{% else %}
							<span aria-hidden="true"><i class="fa fa-angle-double-left paginator-diabled"></i></span>
						{% endif %}
					</li>
					{% for page in (1..paginator.total_pages) %}
						<li>
						{% if page == paginator.page %}
							<span class="paginator-act">{{ page }}</span>
						{% elseif page == 1 %}
							<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
						{% else %}
							<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
						{% endif %}
						</li>
					{% endfor %}					
					<li>

						{% if paginator.next_page %}
							<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
								<span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
							</a>
						{% else %}
							<span aria-hidden="true"><i class="fa fa-angle-double-right paginator-diabled"></i></span>
						{% endif %}
					</li>
	          </nav>
			{% endif %}
			
			
