---
layout: default
title: Yojee - Blog
---
	  
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
	{% include blogbox.html %}
{% endfor %}

<!-- Pagination links -->

              <!-- Pagination -->
              <nav class="blog-pagination mb-sm-100">
                <ul class="pagination">
				  <li>
					{% if paginator.previous_page %}
						<a href="{{ paginator.previous_page_path }}" aria-label="Previous">
						  <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
						</a>
					{% else %}
						<span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
					{% endif %}
				  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">7</a></li>
				  <li>
					{% if paginator.next_page %}
						<a href="{{ paginator.next_page_path }}" aria-label="Next">
						  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
						</a>
					{% else %}
						  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
					{% endif %}
				  </li>
                </ul>
              </nav>


  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
