.agency2-hero {
  background: url(../images/workwus/header_ver02.jpg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

#home_anim_wus {
  position: absolute;
  height: 50%;
  min-height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
}

#whyus {
	margin-bottom:20px;
}

.radiobox-text {
	display:block ;
	margin-top:5px;
	margin-bottom:2px;
	font-size:14px;
	color:#FFFFFF;
}

.radiobox-img {
	width:27px;
	margin-bottom:7px;
}

h2.whyheader {
	font-size:23px !important ;
	margin-bottom:5px !important ;
}

.whysubheading {
	font-size:16px ;
	letter-spacing:2px ;
	margin-bottom:25px ;
}


.h-alt {
    font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 150px;
    font-size: 16pt;
    color: #fff;
    letter-spacing: 8px;
    line-height: 23pt;
}

.agency2-hero .hero-content-wrapper .hero-content .hero-lead {
	padding-top:13vw !important ;
	font-size:70px;
}

.btn-white-outline-round {
    background: none !important;
    border: solid 2px white;
    font-size: 17px !important;
    letter-spacing: 5px;
    font-weight: bold;
    padding: 12px 30px 10px 30px;
    z-index: 500;
    color: white !important;
    border-radius: 25px;
    margin-bottom: 136px;
    line-height: 23px;
}

.form_box {
    width: 440px;
    height: 75%;
    float: right;
    top: 15%;
    right: 4%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #222a35;
}

/* zsenialis a scrollbar kilog a befoglaloformbol igy nem latszik */
.form_container {
	width:104% ;
	height:100%;
	padding: 0px 11% 0px 10%;
    overflow-y: scroll;
}

.form-wrapper {overflow: hidden;}
.form-wrapper .from-header h2 {
    font-family: nunito-regular;
    font-size: 38px;
    line-height: 45px;
    vertical-align: top;
    margin-bottom: 22px !important;
    color: #fff;
    text-transform: none;
    letter-spacing: 1px;
    margin-top: 45px !important;
}

.from-header h2 {
    font-family: nunito-regular;
    font-size: 32px;
    line-height: 45px;
    vertical-align: top;
    margin-bottom: 22px !important;
    color: #fff;
    text-transform: none;
    letter-spacing: 1px;
    margin-top: 45px !important;
}

.from-header h2 img {
    display: inline-block;
    height: 49px;
    position: relative;
    margin-left: 11px;
    margin-right: 10px;
    top: -10px;
}

.form-group {
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-weight: 100;
	color: #555;
}

.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="tel"], .form-group textarea {
    border: solid 1px #ccc !important;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    height: 45px;
}

.form-group .c_checkbox1 {
  display:none;
}

.form-group label.file-upload {
    border: solid 1px #ccc !important;
    padding: 0px;
	padding-left:24px ;
    line-height: 40px;
    height: 45px;
    cursor: pointer;
    background: #fff;
	color: #555;    
}

.form-group-select div {
    display: inline-block;
    text-align: center;
	width:23%;
}

.form-group-select div.hourboxdiv {
	width:31%;
}

.form-group-select div.agreediv {
	width:100%;
	font-size:17px;
}

.form-group label {
	display: block;
	font-family: nunito-regular;
	font-size: 16px;
	font-weight:lighter ;
	color: #fff;
	text-transform: none ;
	letter-spacing:1px;
}

.form-group .transport-alt {
	color: #fff;
	font-family: nunito-regular;
	font-size: 14px;
	font-weight:lighter ;
	letter-spacing:1px;
}

.form-wrapper .from-header h2 img {
    display: inline-block;
    height: 63px;
    position: relative;
    margin-left: 5px;
    top: -16px;
}

.btn-text, .btn-text-light {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px
}
.form-group input[type="submit"], .demo-submit {
    width: 140px ;
    height: 40px ;
	padding-top: 7px;
	font-size:13px;
	font-weight:500;
	margin: 30px auto 30px auto;
}
.form-group {
    margin-bottom: 20px;
}
h2.nunito_bold {
    color: #222a32;
    font-size: 40px;
    text-transform: none;
    margin-top: 0px;
}
.container {
	width: 1170px;
}

div.section.why {
    padding-bottom: 0;
    padding-top: 60px;
}
.greybg {width: 100%;
    background: #f2f2f2;}
    div.section.why2 {
    padding-top: 50px;
    width: 100%;
    margin: auto;
}
.map-wide {
    display: block;
    position: relative;
    height: 530px;
    width: 100%;
}
.app-download {margin:auto;width:100%;text-align: center;}
.app-download img {height:80px;}

.nunito-bold2 {font-size: 36px;
    font-weight: 700;
    font-family: Nunito;
  }
  .app-section {text-align: center;width: 1170px;margin: auto;}
.app-section p {
    font-family: "Open Sans";
    padding-top: 25px;
    font-size: 22px;
}
.why-us .col-md-4 img {width: 150px;}


.rightcloud {
  position: absolute;
  height: 95%;
  right: 0;
  bottom: 4.5vh;
}

.grleftside {
  position: absolute;
  height: 140%;
  left: 0;
  bottom:5vh ;
}


.h4line {
	display:block ;
}

.h4broken {
	display:none ;
}


@media screen and (max-width: 1800px) {
	.form_box {
		width: 430px;
		height: 75%;
		float: right;
		top: 15%;
		right: 4%;
		position: absolute;
		overflow-x: hidden;
		overflow-y: hidden;
		background: #222a35;
	}
}

@media screen and (max-width: 1660px) {
	.form_box {
		width: 370px;
		height: 75%;
	}

	.form_container {
		width:105% ;
	}
	
	.grleftside {
		position: absolute;
		height: 135%;
		left: 0;
		bottom:5vh ;
	}
	
	.from-header h2 {
		font-family: nunito-regular;
		font-size: 28px;
		line-height: 45px;
		vertical-align: top;
		margin-bottom: 22px !important;
		color: #fff;
		text-transform: none;
		letter-spacing: 1px;
		margin-top: 45px !important;
	}

	.from-header h2 img {
		display: inline-block;
		height: 45px;
		position: relative;
		margin-left: 12px;
		margin-right: 11px;
		top: -10px;
	}
	
	.agency2-hero .hero-content-wrapper .hero-content .hero-lead {
		padding-top:13vw !important ;
		font-size:50px;
	}
}

@media screen and (max-width: 1370px) {

	.form_box {
		width: 340px;
	}

	.h1line {
		display:none ;
	}

	.h4line {
		display:none ;
	}

	.h4broken {
		display:block ;
	}
	
	.from-header h2 {
		font-size: 30px;
	}

	.from-header h2 {
		font-family: nunito-regular;
		font-size: 24px;
		line-height: 45px;
		vertical-align: top;
		margin-bottom: 22px !important;
		color: #fff;
		text-transform: none;
		letter-spacing: 1px;
		margin-top: 45px !important;
	}

	.from-header h2 img {
		display: inline-block;
		height: 40px;
		position: relative;
		margin-left: 12px;
		margin-right: 11px;
		top: -9px;
	}
	
	.agency2-hero .hero-content-wrapper .hero-content .hero-lead {
		padding-top:7vw !important ;
		font-size:60px;
	}
}

@media screen and (max-width: 1150px) {
	.rightcloud {
		display:none ;
	}

	.form_box {
		width: 100%;
		height: 100%;
		position: relative ;
		height: 75%;
		float: none;
		clear:both ;
		top: auto;
		right: auto;
	}

	.grleftside {
		display:none;
	}

	.agency2-hero {
		background: url(../images/workwus/mobile_header.jpg);
		background-size: cover;
		background-position: bottom left ;
	}

	.agency2-hero .hero-content-wrapper .hero-content .hero-lead {
		font-size:50px;
	}
	
	.container {
		width: 95%;
	}
}

